<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Travel Planner | Udacity Front-End Development</title>
        
        <!-- Import fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    </head>

    <body>
        <!-- ************************************ HEADER -->
        <header>
            <h1 class="app-header">Travel Planner App</h1>
            <a href="https://github.com/alex1ned/travel_planner" target="_blank"><i class="fa fa-github"></i></a>
        </header>

        <!-- ************************************ MAIN -->
        <main>
            <section class="upper-segment">
                <!-- Section 1 -- Description -->
                <section id="description" class="sections-upper">
                    <h2>Description</h2>
                    <p>
                        This application allows you to submit the location
                        you will be travelling to as well as your departure-
                        and return dates. The app will show you basic details
                        about your trip upon submitting the form.
                    </p>
                </section>

                <!-- Section 2 -- Submission Form -->
                <section id="submission" class="sections-upper">
                    <h2>Submission Form</h2>
                    <!-- !!! Add form here (Location, start date, return date) -->
                    <form>
                        <!-- Location -->
                        <div class="input-field">
                            <p>Location:</p>
                            <input type="text" value="" placeholder="Type in name of city">
                        </div>

                        <!-- Departure date -->
                        <div class="input-field">
                            <p>Departure date:</p>
                            <div class="calendar-container">
                                <i class="fa fa-calendar"></i>
                                <input type="text" value="" placeholder="Date in format dd/mm/yyyy">
                            </div>
                        </div>

                        <!-- Return date -->
                        <div class="input-field">
                            <p>Return date:</p>
                            <div class="calendar-container">
                                <i class="fa fa-calendar"></i>
                                <input type="text" value="" placeholder="Date in format dd/mm/yyyy">
                            </div>
                        </div>

                        <!-- Submit button -->
                        <div class="submit-button">
                            <button>
                                <input class="submit" type="submit" value="Submit" />
                            </button>
                        </div>
                    </form>
                </section>
            </section>


            <!-- Results section -->
            <section class="results-section">
                <div class="results-placeholder">
                    <p>Upon submission your results will be displayed here . . .</p>
                    <i class="fa fa-globe"></i>
                </div>

            </section>
        </main>

        <!-- ************************************ FOOTER -->
        <footer>
            <div>&copy 2020 Alexander Nederegger   |   Udacity Front-End Development | Capstone Project</div>
        </footer>
    </body>
</html>


<!-- *********** !!! OLD EVENT HANDLER TEMPLATE -->
<!-- <form class="" onsubmit="return handleSubmit(event)">
    <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Name">
    <input type="submit" name="" value="submit" onclick="return handleSubmit(event)" onsubmit="return handleSubmit(event)">
</form> -->
