// ------------------ GLOBAL VARIABLES
// ----- Background Colors
$mainBackground:  #b9abc3;
$mainBackgroundLight: #d2c9d8;
$mainBackgroundLighter: #ded8e3;
$mainBackgroundDark: #a08dae;
$mainBackgroundDarker: #947ea3;

$mint:  #abc3b9;
$blueGrey: #abb5c3;
$beigeGrey: #c3b9ab;
$greenGrey: #b5c3ab;
$buttonColor: #334663;
$buttonHover: #283850;
$footerColor: #2d2b2e;

// ----- Text Colors
$mainTextColor: black;
$h1Color: #251e2a;
$h2Color: #334663;
$footerTextColor: #736677;


header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $mainBackground;
    color: $mainTextColor;
    height: 100px;
    border-bottom: 5px solid white;
    line-height: 2.0em;

    h1.app-header {
        margin-right: 1rem;
        text-align: center;
    }

    i.fa-github {
        color: $h1Color;
        font-size: 2em;
        margin-left: 1rem;
        transition: color 0.2s ease-in;
        
        &:hover {
            color: $buttonColor;
        }
    }
}
