// ------------------ GLOBAL VARIABLES
// ----- Background Colors
$mainBackground:  #b9abc3;
$mainBackgroundLight: #d2c9d8;
$mainBackgroundLighter: #ded8e3;
$mainBackgroundDark: #a08dae;
$mainBackgroundDarker: #947ea3;

$mint:  #abc3b9;
$blueGrey: #abb5c3;
$beigeGrey: #c3b9ab;
$greenGrey: #b5c3ab;
$buttonColor: #334663;
$buttonHover: #283850;
$footerColor: #2d2b2e;


// ----- Text Colors
$mainTextColor: black;
$h1Color: #251e2a;
$h2Color: #334663;
$footerTextColor: #736677;
$invalidInput:  #c5617a;
$invalidInputLighter:  #f1c9d3;


main {
    color: $mainTextColor;
    padding: 30px;
    height: 80vh;
}


// --------------------------------- UPPER SEGMENT (INPUT)
.upper-segment {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 40px;
    border-bottom: 3px solid $h2Color;

    .sections-upper {
        width: 45%;

        h2 {
            margin-bottom: 10px;
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;


    .input-field {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        p, input, div {
            height: 30px;
            display: flex;
            align-items: center;
        }

        .calendar-container {
            display: flex;
            justify-content: right;
        }

        input {
            min-width: 300px;
            font-size: 0.7em;
            padding: 0.2em;
            border: 3px solid $mainBackgroundDarker;
            border-radius: 0.5em;

            &:hover {
                background-color: $blueGrey;
            }
        }

        // !!! BROWSER EVENT IF VALIDATION FAILS set class to invalid
        input.invalid {
            border-color: $invalidInput;
            background-color: $invalidInputLighter;
        }

        .fa-calendar {
            margin-right: 7px;
            font-size: 1.0em;
        }

    }

    .submit-button {
        display: flex;
        justify-content: center;

        input.submit {
            background-color: inherit;
            color: inherit;
            font-size: 0.8em;
        }
    }
}

@media only screen and (max-width: 985px) {
    .input-field input {
        min-width: 150px;
    }
}

@media only screen and (max-width: 980px) {
    .upper-segment {
        flex-direction: column;
        align-items: center;
        height: auto;

        .sections-upper {
            width: 90%;
        }

        #submission {
            margin-top: 40px;
        }
    }
}



// --------------------------------- LOWER SEGMENT (RESULTS)
// --------- Placeholder
.results-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    
    .results-placeholder {
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: auto;
        font-size: 1.5em;
        text-align: center;
        color: $mainBackgroundDarker;

        p, i {
            padding: 80px 0px 0px 0px;
            
            &.invalid {
                color: $invalidInput;
            }
        }

        i {
            font-size: 1.9em;
        }

    }
}

// --------- Results if input was invalid
// .incorrect-input {
//     & p, & i {
//         color: $invalidInput;
//     }
// }


// --------- Correct results


